#G {
    font-size: 150px;
    color: blue;
}
.red {
    color: red;
}
#o1 {
    font-size: 150px;
}

#o2 {
    font-size: 150px;
    color: yellow;
}

#g {
    font-size: 150px;
    color: blue;
}

#l {
    font-size: 150px;
    color: green;
}

#e {
    font-size: 150px;
}